
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 20px;
    background: linear-gradient(to bottom, #5590ca, #e9ecef);
    }

    h1 {
    text-align: center;
        color: darkblue;
        text-shadow: #cad5e4 1px 1px 2px    ;
        margin-bottom: 20px;
    }

    .btn {
    padding: 5px;
    margin-left: 10px;
    border: solid 1px black;
    border-radius: 5px;
    color: white;
    }


    .btn-add {
    background-color: #007bff;
    }
    .btn-remove {
    background-color: #dc3545;
    }
    .btn-ready {
    background-color: #28a745;
    }

    .btn-clear {
    background-color: #007bff;
    }

.done {
    text-decoration: line-through;
    opacity: 0.6;
    }