body {
    font-family: Arial, sans-serif;
        min-height: 100vh;
        margin: 0;
        background: linear-gradient(to bottom, #5590ca, #e9ecef);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 1.4;
    }

    input {
    padding: 10px;
    border: solid 1px black;
    border-radius: 5px;
    max-width: 100px;
    margin-bottom: 20px;
    font-size: 18px;
    }

    h1 {
    text-align: center;
        color: darkblue;
        text-shadow: #cad5e4 1px 1px 2px    ;
        margin-bottom: 20px;
    }

    .btn {
    max-width: fit-content;
    padding: 5px;
    margin: 15px;
    border: solid 1px black;
    border-radius: 5px;
    color: white;
            font-size: 16px;
            padding: 12px 14px;
            width: 260px;
    }

    .btn-add {
    background-color: #007bff;
    }
    .btn-remove {
    background-color: #dc3545;
    }
    .btn-ready {
    background-color: #28a745;
    }

    .btn-clear {
    background-color: #007bff;
    }

    .done {
    text-decoration: line-through;
    opacity: 0.6;
    }

    .ready {
    background-color: #ffc107;
    }